# Scraping finn for houses for sale, Data analysis, Price prediction

### Project Setup

In [3]:
import numpy as np
import pandas as pd
import requests
from tqdm.notebook import tqdm
from bs4 import BeautifulSoup as bs
from selenium import webdriver
import sys
import time
from pprint import pprint as pp
from deep_translator import GoogleTranslator
# from geopy.geocoders import Nominatim
# from matplotlib import pyplot as plt

Setting up selenium for properly scraping. I first tried scraping with requests package but it turns out finn renders the information in some pages with javascript on the client side. To get past that I had to do this bit much work to setup browser automation so selenium can work properly

In [4]:
sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')
chrome_options.add_argument('--no-sandbox')
chrome_options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver',options=chrome_options)

### Scraping Finn

1.   First I will be scraping only the add codes(finncode) of the house listing from the search page https://www.finn.no/realestate/homes/search.html
2.   Then I will be scraping information of the house with those finncodes.
The details about each of the add can be found with https://www.finn.no/realestate/homes/ad.html?finnkode={} link where the {} can be replaced with a finncode to get to the details page of the house.

There are also some ads which contain details about multiple houses usually from a real estate company. Im excluding those houses because some of those houses are in development and are not complete. In this project I will be focusing on the houses that finn did not place in the new houses category.

#### Scraping Phase 1: Grabbing the Finn Codes from the listing page

This function goes through each page of the house listing and grabs all the ad codes present in each page. I have noticed that finn do not show more than 50 pages. In the future I will run the scraping on a raspberry pi and run the scraping cron job once a day and collect the newly published house data. That way over the year I will have a lot of data.

In [ ]:
# Url for Homes: "https://www.finn.no/realestate/homes/search.html?page="
# Url for Cars: "https://www.finn.no/car/used/search.html?page="
# Url for Jobs: "https://www.finn.no/job/fulltime/search.html?page="

def get_all_codes(url, driver, npages=100, verbose=1):
  all_codes = []
  
  for page_no in range(1, npages):
    page_url = url.format(page_no)

    driver.get(page_url)
    soup = bs(driver.page_source, 'html.parser')
    ad_links = soup.find_all('a', attrs={'class':'ads__unit__link'})
    ad_codes = [int(ad['id']) for ad in ad_links]
    
    if len(ad_codes) < 2:
      break
    if verbose == 1:
      print(f'Indexed: {len(ad_codes)} from {page_url}')
    
    all_codes.extend(ad_codes)
    time.sleep(0.2)

  return list(set(all_codes))

In [ ]:
homes_listing_url = "https://www.finn.no/realestate/homes/search.html?page={}"
finn_codes_home = get_all_codes(homes_listing_url, driver, 55)
len(finn_codes_home)

Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=39
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=40
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=41
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=42
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=43
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=44
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=45
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=46
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=47
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=48
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=49
Indexed: 51 from https://www.finn.no/realestate/homes/search.html?page=50

2526

#### Scraping Phase 2: Scraping the House info pages from the finn codes

This is the main function that collect all the data from an ad detail page and returns a dictionary with collected features.

In [ ]:
def parse_housing_page(finn_code, driver):
  ## Getting the raw page
  detail_page = "https://www.finn.no/realestate/homes/ad.html?finnkode={}".format(finn_code)
  driver.get(detail_page)
  soup = bs(driver.page_source, 'html.parser')
  

  ad_main = soup.find('div', attrs={"class":"u-word-break"})

  try:
    price = ad_main.find(lambda tag: tag.name == 'span' and tag.has_attr('class') and tag['class'] == ['u-t3']).string
  except AttributeError:
    # print(f'No house details found with {finn_code} finncode')
    return

  price = int(''.join(price.split()[:-1]))

  ad_dict = {
      "id" : finn_code,
    "title": ad_main.find('h1').string,
    "address": ad_main.find('p', attrs={'class':'u-caption'}).string,
    "price": price
  }

  ## Parsing number of rooms, bed rooms, total space and other info
  other_features = ad_main.find_all('dl', attrs={'class':'definition-list'})
  for feature_vec in other_features:
    feature_vec = feature_vec.get_text().split('\n')
    
    ## basic data cleaning
    feature_vec = [''.join(x.strip()) for x in feature_vec if len(x) > 0]

    if len(feature_vec) < 2:
      continue
    for k,v in zip(feature_vec[0::2], feature_vec[1::2]):
      if len(k) == 0 or len(v) == 0:
        continue
      ad_dict[k] = v
  
  facilities = []
  try:
    for item in ad_main.find_all('ul', attrs={'class':'list'}):
      flts = item.get_text().strip().split('\n')
      for item in flts:
        item = item.split('/')
        facilities.extend(item)
  except AttributeError:
    pass
    # ad_dict['facilities'] = None
  else:
    ad_dict['facilities'] = list(set(facilities))

  ## Parsing textual data in the ad body
  more_info = []
  try:
    for paragraph in ad_main.find('div', attrs={"data-controller":"moreKeyInfo"}).find_all('p'):
      for lines in paragraph.get_text().strip():
        more_info.extend(lines.strip())
  except AttributeError:
    pass

  try:
    for paragraph in ad_main.find('div', attrs={"id":"collapsableTextContent"}).find_all('p'):
      for lines in paragraph.get_text().strip().split('\n'):
        more_info.extend(lines.strip())
  except AttributeError:
    pass
  
  if len(more_info) > 5:
    ad_dict['description'] = ''.join(more_info)

  try:    # Get the latitude and longitude from the attached map in the post
    mapinfo = soup.find('a', attrs={"data-controller":"trackMap"})
    lat = mapinfo['href'].split('&')[1].split('=')[1]
    lon = mapinfo['href'].split('&')[2].split('=')[1]
  except AttributeError:
    # print('cant find map')
    pass
  else:
    ad_dict['lat'] = lat
    ad_dict['lon'] = lon

  return ad_dict

Its a sample of data thats been collected from a finn code. I have cleaned a bit when scraping the data. But a thorough cleaning would be done when I process the whole dataset.

In [ ]:
finn_code = 200661038
pp(parse_housing_page(finn_code, driver))

{'Boligselgerforsikring': 'Ja',
 'Boligtype': 'Hytte',
 'Bruksareal': '107 m²',
 'Bruttoareal': '118 m²',
 'Byggeår': '2014',
 'Eieform bolig': 'Eier (Selveier)',
 'Energimerking': 'C - gul',
 'Kommunale avg.': '8\xa0203 kr per år',
 'Omkostninger': '106\xa0892 kr',
 'Primærrom': '101 m²',
 'Soverom': '4',
 'Tomteareal': '2345 m² (eiet)',
 'Totalpris': '3\xa0756\xa0892 kr',
 'address': 'Havåsen 9, 4187 Ombo',
 'description': 'Entre/gang,4soverom,bad,stue/kjøkken,wc,vaskerom.3650000,-(Prisantydning)Omkostninger2800,-(BoligkjøperforsikringPluss(valgfritttillegg))172,-(Pantattestkjøper)585,-(Tingl.gebyrpantedokument)585,-(Tingl.gebyrskjøte)11500,-(BoligkjøperforsikringHELP(valgfritt))91250,-(Dokumentavgift(forutsattsalgssum:3650000,-))--------------------------------------------------------106892,-(Omkostningertotalt)--------------------------------------------------------3756892,-(Totalprisinkl.omkostninger)NB:Regnestykketforutsetteratdetkuntinglysesettpantedokumentogateiendommenselgestilprisantydning.Kommunenr:1103Gårdsnr:150Bruksnr:18I '
                'flotte omgivelser på Ombo, med nydelig utsikt og gode '
                'solforhold, ligger det en perle av en fritidseiendom. '
                'Eiendommen er på ca 2 346 kvm og har ei moderne hytte fra '
                '2014. Hytta har gjennomgående høy kvalitet på parkett, panel '
                'og inventar. Sol og utsikt kan nytes fra to romslige '
                'terrasser, og det er kjørevei frem med parkering på tomt.Fra '
                'entreen er det direkte tilgang til både wc-rom og vaskerom, '
                'og hytta har også et delikat, flislagt bad. Kjøkkenet har '
                'stilfull innredning fra Aubo med integrerte hvitevarer, og '
                'det er åpent ut mot spisestue. Fra spisestuen er det åpent '
                'videre ut i en nydelig stue med ekstra takhøyde, flotte '
                'utsiktsvinduer og stemningsfull peis. \xa0I tillegg har hytta '
                'fire soverom og utvendig bod.\xa01. etg: Entré, wc-rom, bad, '
                'vaskerom, 4 soverom, stue og kjøkken.',
 'facilities': ['Ingen gjenboere',
                'Barnevennlig',
                'Rolig',
                'Offentlig vann',
                'Balkong',
                'Parkett',
                'Moderne',
                'Lademulighet',
                'Utsikt',
                'kloakk',
                'Ildsted',
                'Bademulighet',
                'Peis',
                'Turterreng',
                'Bredbåndstilknytning',
                'Terrasse',
                'Livsløpsstandard'],
 'id': 200661038,
 'lat': '59.238068',
 'lon': '5.969944',
 'price': 3650000,
 'title': 'Innholdsrik moderne hytte fra 2014 med høy kvalitet, nydelig '
          'utsikt, parkering på tomt * Båtplass'}

Scraping all the collected finn codes and making a dataset from them.

In [ ]:
houses_dataset = []
for finn_code in tqdm(finn_codes_home):
  house_dict = parse_housing_page(finn_code, driver)
  if house_dict is None:
    print(f'\texcluded:{finn_code}')
    continue
  # print(f'\tAdded:{finn_code}')
  houses_dataset.append(house_dict)

### Data Analysis
Sample of the dataset

#### Data Cleaning

In [ ]:
df = pd.DataFrame.from_dict(list(filter(None,houses_dataset)))
df.sample(5)

             id  ... Utleiedel
1478  200408117  ...       NaN
1681  200327120  ...       NaN
1071  199849055  ...       NaN
304   196601244  ...       NaN
824   199856052  ...       NaN

[5 rows x 39 columns]

In [ ]:
df.shape

(1694, 39)

Saving the raw dataset, as backup.

In [ ]:
df.to_csv('Norway_houses.csv')

Lets checkout the amount of missing values the dataset has

In [ ]:
df.isnull().sum().sort_values(ascending = False)

Utleiedel                                   1693
Festeår                                     1692
Sikringsordning                             1690
Grunnflate                                  1682
Felleskost/mnd. etter avdragsfri periode    1680
Låneverdi                                   1677
Pris med fellesgjeld                        1669
Lånetakst                                   1664
Renovert år                                 1662
Festeavgift                                 1649
Tomt                                        1614
Verditakst                                  1415
Boligselgerforsikring                       1303
Fellesformue                                1051
Fellesgjeld                                  992
Kommunale avg.                               962
Rom                                          636
Felleskost/mnd.                              571
Etasje                                       528
Bruttoareal                                  374
Energimerking                                371
Formuesverdi                                 330
Tomteareal                                   101
Omkostninger                                  77
Totalpris                                     76
Soverom                                       55
Byggeår                                       28
Primærrom                                     17
Bruksareal                                    11
address                                        0
price                                          0
title                                          0
lon                                            0
Boligtype                                      0
Eieform bolig                                  0
lat                                            0
facilities                                     0
description                                    0
id                                             0
dtype: int64

Lets translate the columns to english.

In [ ]:
def n2e(norsk_text):
  return GoogleTranslator(source='no', target='en').translate(norsk_text)

df.columns = list(map(n2e, df.columns))

In [ ]:
missing_vals = df.isnull().sum().sort_values(ascending = False)
missing_vals[missing_vals>0]

Rental part                                        1693
Party year                                         1692
Security scheme                                    1690
Base surface                                       1682
Felleskost / mnd. after installment-free period    1680
Loan value                                         1677
Price with joint debt                              1669
Loan rate                                          1664
Renovated year                                     1662
Fixing fee                                         1649
Empty                                              1614
Valuation                                          1415
Home seller insurance                              1303
Common property                                    1051
Joint debt                                          992
Municipal avg.                                      962
Room                                                636
Felleskost / mnd.                                   571
Story                                               528
Gross area                                          374
Energy labeling                                     371
Property value                                      330
Land area                                           101
Costs                                                77
Total price                                          76
Bedroom                                              55
Year of construction                                 28
Primary room                                         17
Usable area                                          11
dtype: int64

There are some column with a lot of missing values, In close inspection lot of these columns are not that important either. I will be removing the columns with more than 50% missing values.

In [ ]:
cutoff_pct = 50
cols_to_remove = missing_vals[missing_vals > df.shape[0] * cutoff_pct / 100].keys()
df = df.drop(columns=list(cols_to_remove))
df.sample(5)

             id  ...        lon
1107  200537320  ...  10.449953
1555  200646058  ...  10.971416
1140  199964033  ...   10.00205
1401  184408739  ...   9.711189
516   200616425  ...  10.417895

[5 rows x 23 columns]

In [ ]:
missing_vals = df.isnull().sum().sort_values(ascending = False)
missing_vals[missing_vals>0]

Room                    636
Felleskost / mnd.       571
Story                   528
Gross area              374
Energy labeling         371
Property value          330
Land area               101
Costs                    77
Total price              76
Bedroom                  55
Year of construction     28
Primary room             17
Usable area              11
dtype: int64

Now lets checkout some of the columns and what values they contain.

In [ ]:
df['Own form of housing'].value_counts()

Eier (Selveier)    1115
Andel               540
Aksje                38
Obligasjon            1
Name: Own form of housing, dtype: int64

I see this column represent who owned the house. I will rename the column and values.

In [ ]:
df.rename(columns={'Own form of housing':'owner'}, inplace=True)
df.replace({'owner':{'Eier (Selveier)':'private','Andel':'share','Aksje':'auction','Obligasjon':'bond'}}, inplace=True)
df['owner'].value_counts()

private    1115
share       540
auction      38
bond          1
Name: owner, dtype: int64

I see there is a lot of missing values in the 'Story' column. Lets see the type of house they are.

In [ ]:
df[df['Story'].isna()]['Housing type'].value_counts()

Enebolig               290
Rekkehus                79
Leilighet               75
Tomannsbolig            65
Gårdsbruk/Småbruk        8
Andre                    5
Tomter                   3
Annet fritid             2
Produksjon/Industri      1
Name: Housing type, dtype: int64

They are mostly Detached, Semi Detached, farm houses. although there are some apartments as well But my guess is they are on the ground floor thats why they probably did not think its important to mention the number of stories. We can consider these properties as ground floors.

In [ ]:
df['Story'].fillna(1, inplace = True)
missing_vals = df.isnull().sum().sort_values(ascending = False)
missing_vals[missing_vals>0]

Room                    636
Felleskost / mnd.       571
Gross area              374
Energy labeling         371
Property value          330
Land area               101
Costs                    77
Total price              76
Bedroom                  55
Year of construction     28
Primary room             17
Usable area              11
dtype: int64

Lets explore some questions about the houses.

Some columns like gross area is represented in other columns as well but have a lot of missing values. These columns need to be removed for predictions.

In [ ]:
df.drop(columns=['Room', 'Felleskost / mnd.', 'Property value', 'Land area', 'Costs', 'Total price'], inplace=True)
df.sample(5)

             id  ...        lon
1145  200398217  ...   5.297718
218   199967754  ...   10.80319
1155  199898563  ...  10.571858
531   200395336  ...     5.7236
386   199771988  ...    18.1206

[5 rows x 17 columns]

Lets rename some of the columns for ease of use

In [ ]:
df.columns = [''.join(col.lower().split(' ')) for col in list(df.columns)]
df.rename(columns={
    'housingtype':'type',
    'bedroom':'broom',
    'primaryroom':'proom',
    'yearofconstruction':'year',
    'energylabeling':'energy',
    'lazy':'lat'
    }, inplace=True)

df.sample(5)

             id  ...        lon
151   200508099  ...  10.719667
1203  198145724  ...    10.1137
1556  199884205  ...     7.7541
1445  197229472  ...  11.028235
1131  199890271  ...     5.2915

[5 rows x 17 columns]

bed room, primary room, usable area, gross area looks to be correlated. Lets make a smaller dataset without Missing values to see how they correlate.

In [ ]:
df_areas = df[['broom', 'proom', 'usablearea', 'grossarea']]

clean_area = lambda x: float(x.split(' ')[0])

df_areas = df_areas[df_areas.isnull().sum(axis=1) == 0]
df_areas['proom'] = df_areas['proom'].apply(clean_area)
df_areas['broom'] = df_areas['broom'].apply(clean_area)
df_areas['usablearea'] = df_areas['usablearea'].apply(clean_area)
df_areas['grossarea'] = df_areas['grossarea'].apply(clean_area)

df_areas.corr().style.background_gradient(cmap='coolwarm', axis=None)

As we can see usable area is highly correlated with gross area and primary room size. So we can remove those columns as they do not add a lot of information for prediction model.

In [ ]:
df.drop(columns=['proom', 'grossarea'], inplace=True)
missing_vals = df.isnull().sum().sort_values(ascending = False)
missing_vals[missing_vals>0]

energy        371
broom          55
year           28
usablearea     11
dtype: int64

In [ ]:
df = df[df.isnull().sum(axis=1) == 0]

             id  ...        lon
0     200548355  ...    10.3496
3     181444617  ...   10.51447
5     176406543  ...     5.7255
6     200294416  ...     5.6916
7     197926933  ...    12.1463
...         ...  ...        ...
1689  200638453  ...  5.2012715
1690  200499190  ...    10.2047
1691  200531964  ...  10.837808
1692  200515582  ...  11.548495
1693  200204287  ...  30.051748

[1280 rows x 15 columns]